.App-header{
    background-color: aquamarine;
    font-size: 1rem;
    height: 100px;
    color: black;
    font-weight: bold;
    display: flex;
    
    

}

.App-logo {
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
    align-items: center;
    
}

.logo-icon {
    justify-content: auto;
    padding-right: 16px;
    font-size: 2rem;
    
}

.search {
    margin-left: 25%;
    display: flex;
    align-items: center;
}